<div class="nice-dropzone-preview">
    @if (isImage()) {
        <img class="nice-dropzone-preview-image" alt="" draggable="false" [src]="imageUrl()" />
    } @else {}

    <div class="nice-dropzone-preview-file-info">
        <span class="mat-body-medium">{{ file().name }}</span>

        @if (imageDimensions(); as dimension) {
            <span class="mat-label-medium">
                {{ `${dimension.width}x${dimension.height}` }} {{ _translationKeys.ratio.pixels | niceTranslate }}
            </span>
        }

        @if (file().size; as size) {
            <span class="mat-label-medium">{{ size | niceFileSize }}</span>
        }
    </div>

    <div class="nice-dropzone-preview-actions">
        <button class="nice-dropzone-preview-actions-delete" (click)="$event.stopPropagation(); clickDelete.emit()">
            <nice-dropzone-delete-icon />
        </button>
    </div>
</div>
