@use "sass:map";
@use "../_sass/override-utils" as utils;

$_tokens: map.merge(
    utils.field-suffix-token-vars(colorpicker),
    (
        input-cursor: --nice-colorpicker-input-cursor,
        prefix-padding-inline-start: --nice-colorpicker-prefix-padding-inline-start,
        swatch-border-color: --nice-colorpicker-swatch-border-color,
        swatch-size: --nice-colorpicker-swatch-size
    )
);

@mixin overrides($tokens: ()) {
    .mat-mdc-form-field:has(nice-colorpicker),
    .mat-mdc-form-field:has(nice-colorpicker-toggle) {
        @include utils.emit-token-overrides($tokens, $_tokens);
    }
}
