@if (showSwatch()) {
    <span
        class="nice-colorpicker__swatch"
        aria-hidden="true"
        [class.nice-colorpicker__swatch--empty]="!swatchColor()"
        [style.--nice-colorpicker-swatch-color]="swatchColor()"
    ></span>
}

<input
    #textInput
    class="nice-colorpicker__text-input"
    [formField]="field()"
    (blur)="isInputFocused.set(false)"
    (focus)="isInputFocused.set(true)"
/>

<button
    #overlayOrigin="cdkOverlayOrigin"
    cdkOverlayOrigin
    mat-icon-button
    class="nice-colorpicker__toggle"
    type="button"
    [disabled]="isDisabled()"
    (click)="togglePicker($event)"
>
    @if (paletteIcon) {
        <mat-icon [svgIcon]="paletteIcon" />
    } @else {
        <mat-icon>palette</mat-icon>
    }
</button>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayOpen]="isPickerOpen()"
    [cdkConnectedOverlayOrigin]="overlayOrigin"
    [cdkConnectedOverlayPanelClass]="'nice-colorpicker__overlay-panel'"
    [cdkConnectedOverlayPositions]="overlayPositions"
    [cdkConnectedOverlayPush]="true"
    (backdropClick)="closePicker()"
    (detach)="closePicker()"
>
    <div class="nice-colorpicker__panel">
        <color-chrome [color]="pickerColor()" [disableAlpha]="true" (onChange)="onPickerChange($event)" />
    </div>
</ng-template>
