.nice-dropzone {
    position: relative;
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 32px;
    cursor: pointer;

    padding: var(--nice-dropzone-horizontal-padding, 32px) var(--nice-dropzone-vertical-padding, 32px);

    border-style: dashed;
    border-radius: var(--nice-dropzone-shape, 5px);
    border-width: var(--nice-dropzone-border-width, 1px);
    border-color: var(--nice-dropzone-border-color);

    .nice-dropzone-icon {
        color: var(--nice-dropzone-icon-color);
    }

    .nice-dropzone-description {
        user-select: none;
        color: var(--nice-dropzone-text-color);
    }

    .nice-dropzone-ripple,
    .nice-dropzone-ripple::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;

        // Disable pointer events for the ripple container and state overlay because the container
        // will overlay the user content and we don't want to disable mouse events on the user content.
        // Pointer events can be safely disabled because the ripple trigger element is the host element.
        pointer-events: none;

        // Inherit the border radius from the parent so that state overlay and ripples don't exceed the
        // parent button boundaries. Note that an inherited border radius does not work properly if
        // the actual button element does have a border because it causes the inner content to be
        // smaller. We have special logic for stroked buttons to handle this scenario.
        border-radius: inherit;
    }

    .nice-dropzone-ripple {
        overflow: hidden;
    }

    .mat-ripple-element {
        background-color: var(--nice-dropzone-ripple-color);
    }

    &:hover {
        background-color: var(--nice-dropzone-hover-color);
    }

    &.nice-dropzone-disabled {
        cursor: default;
        pointer-events: none;

        .nice-dropzone-icon {
            color: var(--nice-dropzone-disabled-icon-color);
        }

        .nice-dropzone-description {
            user-select: none;
            color: var(--nice-dropzone-disabled-text-color);
        }
    }
}
