<div class="clock-face" #clockFace>
    <mat-toolbar
        class="clock-face__clock-hand"
        [class.clock-face__clock-hand_minute]="unit() === 'minute'"
        [style.transform]="'rotate(' + selectedTime().angle + 'deg)'"
    ></mat-toolbar>

    <mat-toolbar class="clock-face__center" color="primary"></mat-toolbar>

    <div class="clock-face__container">
        @if (unit() === "hour") {
            @for (option of faceTime(); track option.value) {
                <div
                    class="clock-face__number clock-face__number--outer"
                    [style.transform]="'rotateZ(' + option.angle + 'deg)'"
                >
                    <button
                        mat-mini-fab
                        disableRipple
                        type="button"
                        tabindex="-1"
                        class="mat-elevation-z0 nice-timepicker-face__button"
                        [color]="isFaceOptionHighlighted(option) ? 'primary' : undefined"
                        [style.transform]="'rotateZ(-' + option.angle + 'deg)'"
                    >
                        {{ formatOption(option) }}
                    </button>
                </div>
            }
        } @else {
            @for (option of faceTime(); track option.value) {
                @if (formatOption(option); as label) {
                    <div
                        class="clock-face__number clock-face__number--outer clock-face__number--labeled"
                        [style.transform]="'rotateZ(' + option.angle + 'deg)'"
                    >
                        <button
                            mat-mini-fab
                            disableRipple
                            type="button"
                            tabindex="-1"
                            class="mat-elevation-z0 nice-timepicker-face__button"
                            [color]="isFaceOptionHighlighted(option) ? 'primary' : undefined"
                            [style.transform]="'rotateZ(-' + option.angle + 'deg)'"
                        >
                            {{ label }}
                        </button>
                    </div>
                }
            }
        }
    </div>

    @if (unit() === "minute" && showSelectionFab()) {
        <div
            class="clock-face__hand-fab-arm"
            [style.transform]="'rotate(' + selectedTime().angle + 'deg)'"
        >
            <button
                mat-mini-fab
                disableRipple
                color="primary"
                type="button"
                tabindex="-1"
                class="mat-elevation-z0 clock-face__clock-hand_minute-fab"
            >
                <span class="clock-face__clock-hand_minute_dot"></span>
            </button>
        </div>
    }
</div>
